<%- include('partials/header.ejs'); %>

<div class="container section">
    <% if (locals.book) { %>
        <form class="form-input" action="/edit/<%= book.id %>" method="post">
            <label for="title" class="input-field input-title">
                <span >
                    Title :
                </span>
                <input id="title" type="text" name="title" value="<%= book.title %>" autofocus="true">
            </label>
            <label for="notes" class="input-field input-notes">
                <span>
                    Notes :
                </span>
                <textarea id="notes" name="notes" cols="30" rows="5"><%= book.notes %></textarea>
            </label>
            <label for="author" class="input-field input-author">
                <span >
                    Author :
                </span>
                <input id="author" type="text" name="author" value="<%= book.author %>">
            </label> 
            <div class="input-field input-rating">
                <span for="">
                    Rating :
                </span>
                <div class="star-rating">
                    <input type="radio" id="st-5" value="5" name="rating">
                    <label for="st-5">
                        <span class="fa fa-star"></span>
                    </label>
                    <input type="radio" id="st-4" value="4" name="rating">
                    <label for="st-4">
                        <span class="fa fa-star"></span>
                    </label>
                    <input type="radio" id="st-3" value="3" name="rating">
                    <label for="st-3">
                        <span class="fa fa-star"></span>
                    </label>
                    <input type="radio" id="st-2" value="2" name="rating">
                    <label for="st-2">
                        <span class="fa fa-star"></span>
                    </label>
                    <input type="radio" id="st-1" value="1" name="rating" required> 
                    <label for="st-1">
                        <span class="fa fa-star"></span>
                    </label>
                </div>
            </div>
            <label for="isbn"class="input-field input-isbn">
                <span >
                    ISBN :
                </span>
                <input id="isbn" type="text" name="isbn" value="<%= book.isbn %>">
            </label>
            <button class="input-field btn" type="submit">Update Notes</button>
        </form>
    
        <script>
            function ratingHandler(){
                document.querySelector('.star-rating input#st-<%= book.rating %>').checked = true;;
            }
            ratingHandler();
        </script>
    
    <% } else { %> 
        <form class="form-input" action="/add" method="post">
            <label for="title" class="input-field input-title">
                <span >
                    Title :
                </span>
                <input id="title" type="text" name="title" autofocus="true" required>
            </label>
            <label for="notes" class="input-field input-notes">
                <span>
                    Notes :
                </span>
                <textarea id="notes" name="notes" cols="30" rows="5"></textarea>
            </label>
            <label for="author" class="input-field input-author">
                <span >
                    Author :
                </span>
                <input id="author" type="text" name="author">
            </label> 
            <div class="input-field input-rating">
                <span for="">
                    Rating :
                </span>
                <div class="star-rating">
                    <input type="radio" id="st-5" value="5" name="rating">
                    <label for="st-5">
                        <span class="fa fa-star"></span>
                    </label>
                    <input type="radio" id="st-4" value="4" name="rating">
                    <label for="st-4">
                        <span class="fa fa-star"></span>
                    </label>
                    <input type="radio" id="st-3" value="3" name="rating">
                    <label for="st-3">
                        <span class="fa fa-star"></span>
                    </label>
                    <input type="radio" id="st-2" value="2" name="rating">
                    <label for="st-2">
                        <span class="fa fa-star"></span>
                    </label>
                    <input type="radio" id="st-1" value="1" name="rating" required> 
                    <label for="st-1">
                        <span class="fa fa-star"></span>
                    </label>
                </div>
            </div>
            <label for="isbn"class="input-field input-isbn">
                <span >
                    ISBN :
                </span>
                <input id="isbn" type="text" name="isbn">
            </label>
            <button class="input-field btn" type="submit">Add notes</button>
        </form>
    <% } %>
    
    
</div>

<%- include('partials/footer.ejs'); %>